name: pnksovellus
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2
  image_picker: ^1.1.1
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3

dev_dependencies:
  flutter_launcher_icons: ^0.13.1
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter_icons:
  android: true
  ios: true
  image_path: "lib/images/pnk-sininen-fi.png"

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/fonts/
    - lib/images/pnk-sininen-fi.png

  fonts:
    - family: Nunito
      fonts:
        - asset: assets/fonts/Nunito_wght.ttf
